.container{
    display: grid;
    margin-top: 50px;
    margin-bottom: 30px;
}

.containerCard{
    margin-left: 65px;
    margin-top: 20px;
    width: 246px;
    height: 420px;
    border-style: groove;
    background-color: #fff;
    text-align: center;
}

.image{
    width: 246px;
    height: 346px;
}

.title{
    font-size: 20px;
    font-weight: bold;
}

.subTitle{
    font-style: italic;
}